<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/user/login" method="post">
            <label>Enter your name</label>
            <input type="text"
            required name="name"
            placeholder="Enter your name"/>
            <label>Enter your password</label>
            <input type="text"
            required name="password"
            placeholder="Enter your password"/>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>